:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    
    --ff-outfit: 'Outfit', sans-serif;
    --card-shadow: 0px 3px 50px -1px rgba(0,0,0,0.10);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: var(--light-gray);
    font-family: var(--ff-outfit);
    font-size: .9375rem;
    padding: 6rem 1.8rem;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.card {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: var(--card-shadow);
}

.top__image {
    width: 100%;
    height: auto;
    border-radius: 25px;
    padding: 1rem;
}

.bottom--title {
    color: var(--dark-blue);
    padding: 0 1rem;
    margin-bottom: 0.8rem;
}

.bottom__description {
    color: var(--grayish-blue);
    font-size: 1rem;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
}